@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16pt;
}
/*
p {
    color:black;
}

main, header, footer, nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}
main {
    background-color: bisque;
}

 nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} 

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
*/

h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40pt;

}

.header {
    margin: 1em;
    border-radius: 1em;
    height: 200px;
    overflow: hidden;
    position: relative;
}

#header-image {
    opacity: 0.5;
    width: 100%;
    height: auto;

}

#header-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
}

.allergen {
    font-weight: bold;
 }

#burger-selection {
    background-color: black;
    color: white;
    margin: 1em;
    padding: 1em;
    border: 2px dashed white;
    border-radius: 1em;
    padding-left: 1em;
}

#order-info {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border: 2px dashed black;
    border-radius: 1em;
    padding-left: 1em;
    
}

.burger-items.wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 100%;
    padding: 0 1em 0 0;
    margin: 0 auto;
}

.box {
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

.box ul {
    text-align: left;
}



.order-button {
    margin: 1em;
}
button:hover {
    background-color: #17c16f; 
    cursor: pointer; 
}

footer {
    max-width: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: left;
    padding: 0.5em;
}

